<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <remove id="Magento_Backend::content" />
        <remove id="Magento_Backend::marketing" />
        <remove id="Magento_Reports::report" />
        <remove id="Magento_Marketplace::partners" />

        <update id="Magento_Sales::sales" title="Orders" translate="title" sortOrder="15" action="sales/order" />
        <remove id="Magento_Sales::sales_operation" />
        <remove id="Magento_Sales::sales_order" />
        <remove id="Magento_Sales::sales_invoice" />
        <remove id="Magento_Sales::sales_shipment" />
        <remove id="Magento_Sales::sales_creditmemo" />
        <remove id="Magento_Sales::sales_transactions" />
        <remove id="Magento_Sales::system_order_statuses" />

        <update id="Magento_Customer::customer" title="Customers" translate="title" module="Magento_Customer" sortOrder="30" action="customer/index/" resource="Magento_Customer::manage"/>
    </menu>
</config>
